/*Start - Basis Klassen */
* {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.over-hidden {
  overflow: hidden;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.px-160 {
  padding-left: 160px;
  padding-right: 160px;
}

.align-flex-end {
  align-self: flex-end;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
/*Ende - Basis Klassen */

/*Start - Header Klassen */
.site-header {
  background: rgb(8, 26, 37);
  height: 100px;
  display: flex;
}

.site-logo {
  width: 350px;
}
/*Ende - Header Klassen */

/*Start - Content Klassen */
.content {
  background: rgb(9, 54, 72);
  height: 100vh;
  padding-top: 64px;
}

.title {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 54px;
  margin-bottom: 64px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.picture-showcase {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  object-fit: cover;
}

.picture-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 16px 16px;
}

.picture-button:hover {
  cursor: pointer;

  .picture-showcase {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
  }
}
/*Ende - Content Klassen */

/* Start - Image Dialog Klassen */
.dialog-img {
  object-fit: cover;
  height: 500px;
  width: 1400px;
}

.photo-dialog {
  padding: 0px 40px 0px 40px;
  height: 750px;
  width: 1128px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(22, 50, 59);
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  display: flex;
  justify-content: center;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dialog-button {
  height: 32px;
}

.photo-title {
  font-size: 32px;
  color: rgb(255, 255, 255);
}
/* Ende - Image Dialog Klassen */
