@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-Medium.ttf");
}

/*Start - Basis Klassen */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.over-hidden {
  overflow: hidden;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.px-160 {
  padding-left: 160px;
  padding-right: 160px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*Ende - Basis Klassen */

/*Start - Header Klassen */
.site-header {
  background: rgb(8, 26, 37);
  height: 100px;
  display: flex;
}

.site-logo {
  width: 350px;
}
/*Ende - Header Klassen */

/*Start - Content Klassen */
.content {
  flex: 1;
  background: rgb(9, 54, 72);
  padding-top: 64px;
}

.title {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 54px;
  margin-bottom: 64px;
  font-family: "Raleway";
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.picture-showcase {
  width: 164px;
  height: 164px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  object-fit: cover;
}

.picture-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 16px 16px;
}

.picture-button:hover {
  cursor: pointer;

  .picture-showcase {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 1);
  }
}
/*Ende - Content Klassen */

/* Start - Footer Klassen */
.site-footer {
  background: rgb(8, 26, 37);
  height: 100px;
}
/* Ende - Footer Klassen */

/* Start - Image Dialog Klassen */
.dialog-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 4px solid rgb(8, 26, 37);
  border-radius: 8px;
}

.photo-dialog {
  padding: 0px 40px 0px 40px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(22, 50, 59);
  border-radius: 16px;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 750px;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.arrow-img {
  width: 46px;
}

.display-index {
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.photo-title {
  font-size: 28px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
}
/* Ende - Image Dialog Klassen */

/* Start - Media Query Klassen */
/* MEDIA WIDTH */
@media (max-width: 1005px) {
  .site-header {
    justify-content: center;
  }

  .title {
    font-size: 42px;
  }
}

@media (max-width: 855px) {
  .dialog-content {
    width: 450px;
  }

  .title {
    font-size: 32px;
  }

  .photo-title {
    font-size: 24px;
  }

  .dialog-img {
    object-fit: cover;
  }
}

@media (max-width: 545px) {
  .photo-dialog {
    width: 200px;
  }

  .dialog-content {
    width: 200px;
  }

  .photo-title {
    text-align: center;
  }

  .dialog-img {
    object-fit: contain;
  }
}

/* MEDIA HEIGHT */
@media (max-height: 670px) {
  .dialog-content {
    height: 350px;
  }

  .photo-dialog {
    height: 550px;
  }
}
/* Ende - Media Query Klassen */
